.articles {
  background-color: $lightGrayish;
  position: relative;
  text-align: center;

  // decorations
  img.articles_waves_left_side,
  img.articles_waves_right_side {
    display: none;
  }

  @include breakpoint_up(small) {
    img.articles_waves_left_side {
      display: block;
      position: absolute;
      width: 3rem;
      height: auto;
      top: 15%;
      left: 0%;
    }

    img.articles_waves_right_side {
      display: block;
      position: absolute;
      width: 4rem;
      height: auto;
      top: 45%;
      right: 0%;
    }
  }

  @include breakpoint_up(medium) {
    img.articles_waves_left_side,
    img.articles_waves_right_side {
      display: none;
    }
  }
}
