.courses {
  background-color: $lightGrayishBlue;
  position: relative;
  text-align: center;

  #cards_flexbox_courses_page {
    margin-bottom: 0;

    a.link_card_item:last-child {
      .card_item {
        margin-bottom: 0;
      }
    }
  }

  @include breakpoint_up(medium) {
    #courses_page_container_pall.container_pall {
      padding-top: 6rem;
    }
  }

  // // decorations
  // img.courses_waves_1_left_side,
  // img.courses_waves_1_right_side,
  // img.courses_waves_2_left_side,
  // img.courses_waves_2_right_side {
  //   display: none;
  // }

  // // decorations' parameters for breakpoint small
  // @mixin decor_param_break_small {
  //   display: block;
  //   position: absolute;
  //   width: 2.8rem;
  //   height: auto;
  // }

  // @include breakpoint_up(small) {
  //   img.courses_waves_1_left_side {
  //     @include decor_param_break_small();
  //     top: 15%;
  //     left: 0%;
  //   }

  //   img.courses_waves_1_right_side {
  //     @include decor_param_break_small();
  //     width: 3.5rem;
  //     top: 35%;
  //     right: 0%;
  //   }

  //   img.courses_waves_2_left_side {
  //     @include decor_param_break_small();
  //     top: 55%;
  //     left: 0%;
  //   }

  //   img.courses_waves_2_right_side {
  //     @include decor_param_break_small();
  //     width: 3.5rem;
  //     top: 80%;
  //     right: 0%;
  //   }
  // }

  // @include breakpoint_up(medium) {
  //   img.courses_waves_1_left_side,
  //   img.courses_waves_1_right_side,
  //   img.courses_waves_2_left_side,
  //   img.courses_waves_2_right_side {
  //     display: none;
  //   }
  // }
}
