.link_course_item {
  color: hsl(236, 6%, 45%);
}

p {
  margin: 0 0 2rem;
}

.courses {
  background-color: $lightGrayishBlue;
  position: relative;
  text-align: center;

  // decorations
  img#courses_waves_left_side,
  img#courses_waves_right_side {
    display: none;
  }

  @include breakpoint_up(small) {
    img#courses_waves_left_side {
      display: block;
      position: absolute;
      width: 3rem;
      height: auto;
      top: 15%;
      left: 0%;
    }

    img#courses_waves_right_side {
      display: block;
      position: absolute;
      width: 4.5rem;
      height: auto;
      top: 45%;
      right: 0%;
    }
  }

  @include breakpoint_up(medium) {
    img#courses_waves_left_side,
    img#courses_waves_right_side {
      display: none;
    }
  }
}

.course {
  &_grid {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include breakpoint_up(medium) {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      margin-bottom: 2rem;
    }
  }

  &_item {
    position: relative;
    max-width: 19rem;
    background-color: $white;
    border-radius: 0.625rem;
    transition: all 200ms ease-in-out;
    cursor: pointer;
    margin-bottom: 2rem;

    .img_title_wrapper {
      .course_image {
        line-height: 0;

        img {
          width: 100%;
          height: auto;
          border-radius: 0.625rem;
          box-shadow: 0 0 0.625rem 0.125rem rgb(215, 215, 215);
        }
      }

      .course_title {
        h2 {
          font-size: 1.3rem;
          font-weight: 400;
          text-align: center;
          padding: 0.5rem;
          margin-bottom: 0;
        }
      }
    }

    .course_description {
      p {
        font-size: 1rem;
        margin: 0;
        padding: 0.5rem;
      }
    }

    @include breakpoint_up(small) {
      display: flex;
      justify-content: space-between;
      max-width: 31rem;
      width: 31rem;

      .img_title_wrapper {
        max-width: 15rem;
      }

      .course_description {
        p {
          max-width: 15rem;
          text-align: left;
          margin: 0;
          padding: 0.5rem;
        }
      }
    }

    @include breakpoint_up(medium) {
      flex-direction: column;
      max-width: 19.5rem;
      flex: 1;
      margin: 0;

      .img_title_wrapper {
        max-width: 100%;

        .course_image {
          img {
            height: 10.31rem;
          }
        }

        .course_title {
          width: 85%;
          margin-inline: auto;
          margin-bottom: 1rem;

          h2 {
            text-align: left;
            margin: 0;
            padding: 0;
          }
        }
      }

      .course_description {
        width: 85%;
        margin-inline: auto;
        margin-bottom: 0.8rem;

        p {
          max-width: 100%;
          padding: 0;
          text-align: left;
        }
      }
    }

    &:hover {
      box-shadow: 0 0 0.625rem 0.3125rem rgb(215, 215, 215);
      transform: scale(101%);
    }
  }
}
