.footer {
  background-color: $darkBlue;
  color: $white;
  padding: 2.5rem;
  text-align: center;
  font-size: 0.875rem;

  .container {
    @include breakpoint_up(medium) {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr 0.7fr;
      grid-template-areas:
        "logo socials links_first links_second"
        "copyright socials links_first links_second";
      justify-items: right;
      position: relative;
    }
  }

  a {
    color: $white;
  }

  &_logo {
    display: inline-block;
    width: 3.125rem;
    height: 3.125rem;
    margin-bottom: 1.875rem;

    @include breakpoint_up(medium) {
      grid-area: logo;
      justify-self: left;
      align-self: start;
      margin: 0;
    }

    img {
      width: 100%;
      height: auto;
      transition: opacity 300ms ease-in-out;
    }

    &:hover img {
      opacity: 0.8;
    }
  }

  &_social {
    margin-bottom: 1.875rem;

    @include breakpoint_up(medium) {
      grid-area: socials;
      align-self: start;
      margin-bottom: 0;
    }

    a {
      display: inline-block;

      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }

  &_links {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include breakpoint_up(medium) {
      & > a:not(:last-child) {
        margin-bottom: 0.5rem;
      }
    }

    &.column_first {
      @include breakpoint_up(medium) {
        grid-area: links_first;
      }
    }

    &.column_second {
      margin-bottom: 1.875rem;

      @include breakpoint_up(medium) {
        grid-area: links_second;
        margin: 0;
      }
    }

    a {
      line-height: 2.25rem;

      @include breakpoint_up(medium) {
        line-height: 1;
      }
    }
  }

  &_copyright {
    @include breakpoint_up(medium) {
      grid-area: copyright;
      text-align: left;
      justify-self: left;
      align-self: end;
    }
  }
}
