.footer {
  background-color: $darkBlue;
  color: $white;
  padding: 2.5rem;
  text-align: center;

  .container {
    @include breakpoint_up(medium) {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas:
        "logo socials links_first links_second"
        "copyright socials links_first links_second";
      justify-items: right;
      position: relative;
    }
  }

  a {
    color: $white;
  }

  &_logo {
    display: inline-block;
    width: 3.125rem;
    height: 3.125rem;
    margin-bottom: 1.875rem;

    @include breakpoint_up(medium) {
      grid-area: logo;
      position: absolute;
      margin: 0;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    img {
      width: 100%;
      height: auto;
      transition: opacity 300ms ease-in-out;
    }

    &:hover img {
      opacity: 0.8;
    }
  }

  &_social {
    margin-bottom: 1.875rem;

    @include breakpoint_up(medium) {
      grid-area: socials;
      margin-top: 0.95rem;
      margin-bottom: 0;
    }

    a {
      display: inline-block;

      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }

  &_links {
    display: flex;
    flex-direction: column;
    align-items: center;

    &.column_first {
      @include breakpoint_up(medium) {
        grid-area: links_first;
      }
    }

    &.column_second {
      margin-bottom: 1.875rem;

      @include breakpoint_up(medium) {
        grid-area: links_second;
        margin-inline: auto;
        margin: 0;
      }
    }

    a {
      line-height: 2.25;
    }
  }

  &_copyright {
    @include breakpoint_up(medium) {
      grid-area: copyright;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      text-align: left;
    }
  }
}
