.slogan {
  background-color: $veryLightGray;

  .container {
    @include breakpoint_up(medium) {
      display: flex;
      align-items: center;
      padding: 1.5rem;
    }

    .container_pall {
      padding-top: 1.5rem;

      @include breakpoint_up(medium) {
        padding-top: 0;
      }
    }
  }

  &_image {
    position: relative;
    background-image: url("/images/slogan.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 15rem;
    background-position: center top;

    @include breakpoint_up(small) {
      min-height: 20rem;
      background-position: center top;
    }

    @include breakpoint_up(medium) {
      flex: 1;
      order: 2;
      border-radius: 50px;
      min-height: 40rem;
      max-width: 31.25rem;
    }
  }

  &_text {
    text-align: center;

    @include breakpoint_up(medium) {
      flex: 1;
      order: 1;
      max-width: 29rem;
      padding: 0;
      margin-inline: auto;
      text-align: left;
    }

    p {
      margin: 0 0 1.5rem;
    }
  }
}
