.slogan {
  position: relative;
  background-color: $veryLightGray;

  @include breakpoint_up(medium) {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    background-image: url("/images/slogan.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    width: 100%;
    height: 750px;
  }

  .container {
    @include breakpoint_up(medium) {
      display: flex;
      align-items: center;
      padding: 1.5rem;
    }

    .container_pall {
      padding-top: 1.5rem;

      @include breakpoint_up(medium) {
        padding-top: 0;
      }
    }
  }

  &_image {
    position: relative;
    background-image: url("/images/slogan.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 15rem;
    background-position: center top;

    @include breakpoint_up(small) {
      min-height: 20rem;
      background-position: center top;
    }

    @include breakpoint_up(medium) {
      background-image: none;
    }
  }

  &_text {
    text-align: center;

    @include breakpoint_up(medium) {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;

      p {
        width: 32.9375rem;
      }
    }

    p {
      margin: 0 0 1.5rem;
    }
  }

  .background_card_blurred {
    display: none;

    @include breakpoint_up(medium) {
      display: block;
      position: relative;
      width: 41.25rem;
      height: 23.375rem;
      background-color: hsla(0, 0%, 83%, 0.1);
      padding: 2rem;
      border-radius: 30px;

      /* Add the blur effect */
      backdrop-filter: blur(10px);
    }
  }
}
